.navbar-blue{
    background-color: #50b4f2 !important;
}
.user-box{
    position:relative;
}
#user_status{
    position:absolute;
    width:100px;
    height:40px;
    left:45px;
    top:35px;
    background:url("../images/icon13.png") no-repeat;
    background-size: 100%;
}
#user_status>p{
    font-family: "Microsoft Yahei";
    color: white;
    margin-top: 6px;

}
.sidebar-menu{
    margin-top: 40px;
}
.box-primary {
    border-top-color: #7ac0ee !important;
}
.box-primary li>a{
    margin-top: 10px;
}
.title-font {
    font-family: "Microsoft Yahei";
}

.image-box {
    margin-top: 20px;
    margin-left: 8%;
    cursor: pointer;
}

.image-box > img {
    width: 80px;
    height: 80px;
}

.image-box > p {
    font-family: "Microsoft Yahei";
    padding-top: 10px;
}

.subject-box {
    font-family: "Microsoft Yahei";
    padding-top: 13px;
    cursor: pointer;
    line-height: inherit;
}

.subject-box > img {
    width: 60px;
    heigh: 60px;
    margin-right: 13px;
}

.subject-box p {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: bold;
}

.subject-box h3 {
    font-family: "Microsoft Yahei";
    margin-top: 10px;
    font-size: 20px;
}

.data-box-title .dataTables_filter img {
    height: 20px;
}

.menu {
    position: relative;
    margin-top: -50px;
}

.menu_arrow_left {
    width: 12px;
    height: 80px;
    position: absolute;
    left: 223px;
    top: 350px;
    background-image: url("../images/left.png");
    background-size:100% 99%;
    z-index: 99;
}

.menu_arrow_right{
    width: 12px;
    height: 80px;
    position: absolute;
    left: 44px;
    top: 350px;
    background-image: url("../images/right.png");
    background-size:100% 99%;
    z-index: 99;
}